<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    {% if productos %}

    <ul>
    {% for producto in productos %}
        <li>Producto: {{producto.nombre}}</li>
        <li>Precios: {{producto.precio}}</li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No se encontraron productos</p>
    {% endif %}

</body>
</html>